Repository googleapis/python-analytics-data, pull requests merged in 2021-04, with the labels that each got.

#60 feat: add `kind` field which is used to distinguish between response types
  google/analytics/data_v1beta/types/analytics_data_api.py
  google/analytics/data_v1beta/types/data.py
  synth.metadata
  tests/unit/gapic/data_v1beta/test_beta_analytics_data.py
Labels: api: analyticsdata, cla: yes, context: partial

#57 docs: add sample code for Data API v1
  samples/snippets/README.md
  samples/snippets/get_common_metadata.py
  samples/snippets/get_common_metadata_test.py
  samples/snippets/get_metadata_by_property_id.py
  samples/snippets/get_metadata_by_property_id_test.py
  samples/snippets/quickstart.py
  samples/snippets/quickstart_json_credentials.py
  samples/snippets/quickstart_oauth2.py
  samples/snippets/run_batch_report.py
  samples/snippets/run_batch_report_test.py
  samples/snippets/run_pivot_report.py
  samples/snippets/run_pivot_report_test.py
  samples/snippets/run_realtime_report.py
  samples/snippets/run_realtime_report_test.py
  samples/snippets/run_realtime_report_with_multiple_dimensions.py
  samples/snippets/run_realtime_report_with_multiple_dimensions_test.py
  samples/snippets/run_realtime_report_with_multiple_metrics.py
  samples/snippets/run_realtime_report_with_multiple_metrics_test.py
  samples/snippets/run_report.py
  samples/snippets/run_report_test.py
  samples/snippets/run_report_with_aggregations.py
  samples/snippets/run_report_with_aggregations_test.py
  samples/snippets/run_report_with_cohorts.py
  samples/snippets/run_report_with_cohorts_test.py
  samples/snippets/run_report_with_custom_parameters.py
  samples/snippets/run_report_with_date_ranges.py
  samples/snippets/run_report_with_date_ranges_test.py
  samples/snippets/run_report_with_dimension_and_metric_filters.py
  samples/snippets/run_report_with_dimension_and_metric_filters_test.py
  samples/snippets/run_report_with_dimension_exclude_filter.py
  samples/snippets/run_report_with_dimension_exclude_filter_test.py
  samples/snippets/run_report_with_dimension_filter.py
  samples/snippets/run_report_with_dimension_filter_test.py
  samples/snippets/run_report_with_dimension_in_list_filter.py
  samples/snippets/run_report_with_dimension_in_list_filter_test.py
  samples/snippets/run_report_with_multiple_dimension_filters.py
  samples/snippets/run_report_with_multiple_dimension_filters_test.py
  samples/snippets/run_report_with_multiple_dimensions.py
  samples/snippets/run_report_with_multiple_dimensions_test.py
  samples/snippets/run_report_with_multiple_metrics.py
  samples/snippets/run_report_with_multiple_metrics_test.py
  samples/snippets/run_report_with_named_date_ranges.py
  samples/snippets/run_report_with_named_date_ranges_test.py
  samples/snippets/run_report_with_ordering.py
  samples/snippets/run_report_with_ordering_test.py
  samples/snippets/run_report_with_pagination.py
  samples/snippets/run_report_with_pagination_test.py
  samples/snippets/run_report_with_property_quota.py
  samples/snippets/run_report_with_property_quota_test.py
Labels: api: analyticsdata, cla: yes, samples

#64 chore: prevent normalization of semver versioning
  setup.py
Labels: api: analyticsdata, cla: yes

#68 chore: use `gcp-sphinx-docfx-yaml`
  noxfile.py
Labels: api: analyticsdata, cla: yes
